<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=>, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <h1>Hello MN</h1>
    <img
      src="/image/332347558_741990747545412_2800734312598746003_n.jpg"
      alt=""
    />
  </body>
</html>
